<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK MANAGER</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    
    <div class="container">
        <div class="navbar">
        <div id="nav">
            <a class="nav-item" href="./login.html">
                LOGIN
            </a>
            <a class="nav-item" href="./signup.html">
                SIGNUP
            </a>
        </div>
    </div>
    </div>


    <form id="TaskData">
        <input type="text" id="task">
        <input type="submit" value="Add Task">
    </form>


    <hr><hr>

    <div id="TaskList">

    </div>

</body>

<script src="./JS/index.js"></script>
</html>